{:paths ["src"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.9.0"}
  org.clojure/clojurescript {:mvn/version "1.10.339"}
  thheller/shadow-cljs      {:mvn/version "2.4.24"}
  day8.re-frame/undo        {:mvn/version "0.3.2"}
  thheller/shadow-cljsjs    {:mvn/version "0.0.14"}
  reagent                   {:mvn/version "0.8.1"}
  re-frame                  {:mvn/version "0.10.5"}
  com.workframe/artemis     {:mvn/version "0.1.0-SNAPSHOT"}
  philoskim/debux           {:mvn/version "0.4.8"}}

 :aliases
 {:piggieback
  {:extra-deps
   {cider/piggieback {:mvn/version "0.3.6"}}}

  :test
  {:extra-paths
   ["test"]}}}
